{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ template "title" . }}</title>
	<link href="/static/css/bulma.css" rel="stylesheet"/>
	<link href="/static/css/styles.css" rel="stylesheet"/>
	<link href="/static/css/open-iconic.min.css" rel="stylesheet"/>
	<link rel="icon" type="image/vnd.microsoft.icon" href="/static/favicon.ico">
</head>

<body>

<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
	<a class="navbar-item" href="/">
		 <span class="icon">
			<span class="oi" data-glyph="document"
				title="wikiname"></span>
		</span>
		<div class="subtitle">wikiname</div>
    </a>
  </div>

  <div class="navbar-menu">
	  <div class="navbar-end">
	 <a class="navbar-item" href="/">
		 <span class="icon">
			<span class="oi" data-glyph="home"
				title="Home"></span>
		</span>
        Front Page
      </a>
	 <a class="navbar-item" href="/edit">
		 <span class="icon">
			<span class="oi" data-glyph="plus"
				title="Create Page"></span>
		</span>
        Create page
      </a>
	 <a class="navbar-item" href="/pages">
		 <span class="icon">
			<span class="oi" data-glyph="book"
				title="All Pages"></span>
		</span>
		 All Pages
      </a>
		 <span class="icon">
			<span class="oi" data-glyph="search">
			  <input data-glyph="search" class="navbar-item" type="text" placeholder="Search.." name="search">
			</span>
		</span>
	  </div>
  </div>
</nav>

<div class="container note">
	{{ template "content" . }}
</div> <!-- container node -->

</body>
</html>
{{ end }}
